.logoCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.logoCont img {
  width: 3rem;
}

.logoCont h1 {
  padding: 0.5rem;
  background: -webkit-linear-gradient(rgb(7, 223, 223), rgb(0, 160, 253));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 800px) {
  .logoCont {
    width: auto;
  }
}

@media (max-width: 600px) {
  .logoCont img {
    width: 3rem;
  }
  .logoCont h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 500px) {
  .logoCont {
    flex-direction: column;
  }
  .logoCont h1 {
    font-size: 1.1rem;
    padding: 0.2rem 0 0;
  }
  .logoCont img {
    width: 2.5rem;
  }
}
