.packetMovieCard {
  margin: 0 1rem;
  width: 150px;
  height: 215px;
  border-radius: 1rem;
  background-color: rgb(153, 150, 156);
  cursor: pointer;
}

.packetMovieCard:hover {
  opacity: 0.8;
}

@media (max-width: 500px) {
  .packetMovieCard {
    margin: 0 0.5rem;
  }
}

@media (max-width: 400px) {
  .packetMovieCard {
    width: 125px;
    height: 180px;
  }
}
