.profileCont {
  width: 100vw;
  height: 100vh;
}

.profileCont h1 {
  margin: 2rem auto;
  color: white;
}

.profileCont h2 {
  color: white;
}

.logout {
  width: 200px;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: rgb(105, 58, 58);
  border-radius: 2rem;
}

@media (max-width: 800px) {
  .profileCont h1 {
    font-size: 1.5rem;
  }
  .profileCont h2 {
    font-size: 1.1rem;
  }
  .logout {
    font-size: 1rem;
    padding: 1rem;
  }
}

@media (max-width: 800px) {
  .profileCont h1 {
    font-size: 1.2rem;
  }
  .logout {
    font-size: 1rem;
    padding: 1rem;
  }
}
