.optionsCont {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
  padding: 0.5rem 0;
  background-color: rgb(104, 83, 156);
}

.optItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.optItem h3 {
  font-size: 1rem;
}

.optItem h3:hover {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .optItem h3 {
    font-size: 0.8rem;
  }
}
