.App {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(23, 20, 29);
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}

.App::-webkit-scrollbar {
  width: 4px;
  background-color: #143861;
}

.App::-webkit-scrollbar-thumb {
  background-color: #843465;
  border-radius: 9em;
  box-shadow: inset 1px 1px 10px #f3faf7;
}
