.item {
  margin: 0;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  height: auto;
  cursor: pointer;
}

.element {
  width: 10vw;
}

.item:hover {
  background-color: rgb(112, 82, 82);
  opacity: 0.3;
}

.preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.ratingCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

.rating {
  width: 30px;
}

@media (max-width: 1600px) {
  .item {
    width: 95vw;
  }
  .preview {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 900px) {
  .ratingCont {
    width: 60px;
  }
  .item {
    padding: 0.2rem 0.5rem;
  }
  .item h2 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .ratingCont {
    width: 40px;
  }
  .rating {
    width: 20px;
  }
  .item {
    width: 100vw;
    padding: 0.2rem 0.3rem;
  }
  .item h2 {
    font-size: 0.8rem;
  }
  .preview {
    width: 40px;
    height: 40px;
  }
}
