.cont {
  margin: 1rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cont h3 {
  color: white;
}

.select {
  font-size: 1rem;
  margin: 0.5rem 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  color: white;
  background-color: rgb(25, 102, 112);
}

@media (max-width: 900px) {
  .cont h3 {
    font-size: 1rem;
  }
  .select {
    font-size: 0.8rem;
    margin: 0.5rem 0;
    margin-left: 0.5rem;
  }
}

@media (max-width: 600px) {
  .cont {
    margin: 0.6rem auto 0;
  }
  .cont h3 {
    font-size: 0.7rem;
  }
  .select {
    font-size: 0.6rem;
    margin: 0.5rem 0;
    margin-left: 0.5rem;
  }
}
