.listCont {
  margin: 1rem auto;
  width: 100vw;
  height: auto;
}

.listCont h2 {
  color: white;
  font-size: 2rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0;
}

@media (max-width: 700px) {
  .listCont h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .listCont h2 {
    font-size: 1.2rem;
  }
}
