.searchCont {
  margin: 2rem auto 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
}

.filters {
  margin: 1rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: auto;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.search {
  width: 80vw;
  height: auto;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  border: solid thin white;
}

.btn {
  width: 200px;
  height: auto;
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.5rem;
  background-color: rgba(25, 102, 112, 0.438);
  border: solid thin rgb(25, 102, 112);
}

.btn:hover {
  background-color: rgba(25, 102, 112, 0.644);
}

@media (max-width: 1400px) {
  .btn {
    width: 140px;
    height: auto;
    font-size: 1rem;
    color: white;
    padding: 1rem 1.5rem;
    background-color: rgb(25, 102, 112);
  }
  .lists {
    width: 55vw;
  }
}

@media (max-width: 1250px) {
  .filters {
    flex-direction: column;
  }
  .btn {
    margin: 0.5rem auto;
    padding: 0.6rem 1.5rem;
  }
  .lists {
    width: auto;
  }
}

@media (max-width: 800px) {
  .lists {
    flex-direction: column;
  }
  .filters {
    align-items: flex-start;
  }
  .submit,
  .search {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }
}

@media (max-width: 600px) {
  .filters {
    margin: 0.5rem auto;
  }
  .btn {
    font-size: 0.8rem;
    margin: 0.3rem auto;
    padding: 0.4rem 1.5rem;
  }
}
