.list {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

@media (max-width: 500px) {
  .list {
    margin: 0.5rem auto;
  }
}
