.navBarMob {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 15%;
  background-color: rgb(66, 52, 100);
}

.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  filter: drop-shadow(0 0 0.4rem rgb(39, 138, 141));
}

.navItem img {
  width: 2rem;
}

.navItem h3 {
  font-size: 1rem;
}

.navItem h3:hover {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .navBarMob {
    height: 10%;
  }
  .navItem img {
    width: 1.5rem;
  }
  .navItem h3 {
    font-size: 0.8rem;
  }
}
