.searchBarCont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 60%;
  margin: 1rem 0;
  border-radius: 1rem;
  background: linear-gradient(rgb(103, 216, 182), rgb(95, 136, 170));
  opacity: 0.7;
}

.searchBarCont:hover {
  opacity: 1;
}

.searchBarCont img {
  width: 25px;
}

.searchBarCont input {
  width: 75%;
  height: 100%;
}
