.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 40vw;
  height: auto;
}

.cont h1,
.cont h2 {
  margin: 1rem auto;
  color: white;
}

.cont h3 {
  margin: 1rem auto;
  color: rgb(133, 130, 130);
}

.cont p {
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: justify;
  color: white;
}

.line {
  margin: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
}
