@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Silkscreen:wght@400;700&display=swap");

.navBarCont {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 80px;
  padding: 1rem auto;
  background-color: rgb(56, 45, 83);
}

.categories {
  height: 100%;
}

.navBtn {
  margin: auto;
  padding: 0 2rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(173, 173, 173);
}

.navBtn:hover {
  color: white;
  opacity: 1;
}

@media (max-width: 1100px) {
  .categories button {
    font-size: 1rem;
  }
  .logoCont {
    width: 20%;
  }
  .logoCont img {
    width: 2.5rem;
  }

  .logoCont h1 {
    font-size: 1.3rem;
  }
  .navBtn {
    padding: 0 1rem;
  }
}

@media (max-width: 850px) {
  .navBtn {
    padding: 0 0.5rem;
  }
}
