@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

* {
  transition-property: all;
  transition-duration: 0.5s;
  font-family: "Comfortaa";
}

button,
input,
textarea {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.4;
}

main {
  display: flex;
}

.blur {
  backdrop-filter: blur(8px);
}
