@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

* {
  transition-property: all;
  transition-duration: 0.5s;
  font-family: "Comfortaa";
}

button,
input,
textarea {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

button:hover {
  cursor: pointer;
  opacity: 0.4;
}

main {
  display: flex;
}

.blur {
  backdrop-filter: blur(8px);
}

.swipeMovieCard {
  width: 450px;
  height: 640px;
  border-radius: 2rem;
  cursor: pointer;
}

.swipeMovieCard:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .swipeMovieCard {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .movieCardCont {
    width: 250px;
  }
}
