.navItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 60px;
  cursor: pointer;
}

.active {
  border-top: solid white;
}

.navItem img {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.navItem:active {
  opacity: 0.5;
}
