.list {
  width: 100vw;
  height: auto;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list h1,
h2 {
  color: white;
}

@media (max-width: 900px) {
  .list h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .list h1 {
    font-size: 1.2rem;
  }
}
