.collection {
  margin: 2rem 0;
  width: 100vw;
  height: auto;
}

@media (max-width: 900px) {
  .collection h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .collection h2 {
    font-size: 1.2rem;
  }
}
