.movieCardCont {
  margin: 0 1rem;
  width: 450px;
  height: 640px;
  border-radius: 2rem;
  background-color: rgb(153, 150, 156);
  cursor: pointer;
}

.movieCardCont:hover {
  opacity: 0.8;
}

@media (max-width: 800px) {
  .movieCardCont {
    margin: 0;
    width: 300px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .movieCardCont {
    width: 300px;
  }
}
